.wrapper {
  /* padding: 50px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  position: relative;
  overflow: hidden;

  background: linear-gradient(180deg, rgb(53, 53, 53), rgb(0, 0, 0));
  color: aquamarine;
}

.wrapper h1 {
  z-index: 3;
  text-align: center;
}

.circle1,
.circle2 {
  position: absolute;
  border-radius: 50%;
  width: 45%;
  max-width: 250px;
  aspect-ratio: 1/1;
  /* background: linear-gradient(90deg, lightgrey, grey); */
}

.circle1 {
  top: -10px;
  right: -50px;
  background: linear-gradient(45deg, rgb(8, 8, 8), rgb(57, 49, 49));
}

.circle2 {
  bottom: -20px;
  left: -60px;
  background: linear-gradient(45deg, rgb(64, 53, 53), rgb(7, 7, 7));
}
