.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: left;
  padding: 15px;
  padding-top: 120px;
}

.box {
  border: 1px solid var(--primary);
  max-width: 450px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(68, 58, 3);
}

.top {
  padding: 15px;
  border-bottom: 1px solid var(--primary);
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

.form__container h3 {
  text-align: center;
}

.form__container label {
  text-align: left;
}

.form__container input {
  padding: 7px;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  margin: 7px 0;
}

.form__container input:hover {
  border: 1px solid var(--secondary);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 7px 0;
}

.flex .link {
  font-size: 60%;
}

.flex .link span {
  cursor: pointer;
}

.flex .link span:hover {
  color: var(--secondary);
}
