.wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.wrapper img {
  cursor: pointer;
}

.icon {
  display: flex;
  gap: 5px;
}

.icon .chat {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: aqua;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  justify-content: center;
  font-size: 80%;
  display: none;
}

.wrapper .icon:hover .chat {
  display: flex;
}
