.wrapper {
  min-height: 35vh;
  background-color: black;
  color: white;
  padding: 20px 50px;
  position: relative;
}

/* .wrapper::before {
  content: "";
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
} */


.wrapper .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

.wrapper span {
  color: var(--secondary);
  cursor: pointer;
}
.wrapper .right {
  font-size: 60%;
}

.wrapper .flex {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.mid {
  text-align: center;
  font-size: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-left: -20px;
  
}

.rights {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 70%;
}

.mid .flex {
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.rights {
  text-align: center;
}

@media (max-width: 570px) {
  .wrapper .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    text-align: center;
    margin-bottom: 10px;
  }
}
