html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

:root {
  --primary: #cca354;
  --secondary: rgb(249, 199, 0);
  /* --primary: rgb(0, 127, 237);
  --secondary: skyblue; */
  --font: white;

  --btn-font: black;
}

span {
  color: var(--primary);
}

::-webkit-scrollbar {
  width: 7px;
  height: 0px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background: linear-gradient(90deg, rgb(86, 86, 86) 0%, rgb(19, 19, 20) 100%);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 114, 107);
  /* outline: 1px solid aqua; */
  width: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: white;
}
.btn {
  cursor: pointer;
  background-color: var(--primary);
}
* {
  box-sizing: border-box;
}

btn {
  padding: 5px 10px;
  background: rgb(55, 38, 99);
  max-width: 190px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--primary);
  color: var(--btn-font);
}

btn:hover {
  background: var(--secondary);
}
