.wrapper {
  padding: 15px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 112));
  width: 100%;
  color: aquamarine;
  z-index: 2;
}

.btn {
  padding: 5px 10px;
  background: rgb(55, 38, 99);
  max-width: 100px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(15, 6, 79), rgb(10, 10, 131));
  border: 1px solid rgb(0, 0, 153);
}

.left {
  max-width: 60%;
}

@media (max-width: 480px) {
  .wrapper {
    background-size: "fill";
    background-position: "left";
  }
}
