.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 99;
}

.nav__logo {
  font-weight: bold;
  font-size: 150%;
}
.nav__logo span {
}

.navbar .nav__items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.nav__items .item {
  cursor: pointer;
}

.nav__items .item:hover {
  color: var(--primary);
}

.nav__right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.nav__right div {
  cursor: pointer;
}

.nav__right div:hover {
  color: var(--primary);
}

.icon {
  display: none;
}
@media (max-width: 570px) {
  .navbar .nav__items {
    display: none;
    margin-bottom: 20px;
  }
  .navbar .nav__right {
    display: none;
    gap: 25px;
  }

  .icon {
    display: block;
    cursor: pointer;
  }

  .icon:hover {
    color: var(--primary);
  }
  .nav__vertical {
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 10px;
    height: 100%;
  }

  .nav__vertical .nav__items {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .nav__vertical .nav__right {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 10px;
  }
}
