.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary);
  font-size: 130%;
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
  min-width: 270px;
  position: relative;
  border-radius: 5px;
}

.plus {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 150%;
  height: 100%;
  background-color: blue;
  width: 45px;
  text-align: center;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.post {
  border: 1px solid var(--secondary);
  position: relative;
}

.post .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  color: red;
  font-size: 150%;
}

.wrapper .add__post__container {
  border: 1px solid var(--secondary);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.wrapper .add__post__container input {
  padding: 7px;
  border: 1px solid var(--secondary);
  width: 100%;
  border-radius: 5px;
}

.wrapper .add__post__container .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

@media (max-width: 480px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}
