.wrapper {
  text-align: center;
  z-index: 90;
  margin: 50px 0;
  /* margin-top: 100px; */
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  border: 1px solid gold;
  border-radius: 5px;
  position: relative;
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
  color: red;
  padding: 5px;
}

.profile__photo img {
  border-radius: 50%;
}

.profile__photo {
  border: 5px solid rgba(255, 217, 0, 0.2);
  border-radius: 50%;
}

.profile__name {
  margin: 12px 0;
  font-size: 140%;
  font-weight: bold;
}

.profile__email {
  font-size: 115%;
}

.profile__btn {
  padding: 5px 10px;
  background: rgb(55, 38, 99);
  max-width: 190px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: rgb(255, 0, 0, 0.2);
  color: red;
}

.profile__btn:hover {
  background-color: rgb(255, 0, 0, 0.3);
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  /* border: 3px solid rgb(31, 29, 29, 0.3); */
  background: rgba(52, 51, 51, 0.3);
  margin: 15px;
  padding: 10px;
  /* border-radius: 5px; */
  box-shadow: 2px 2px 2px 2px rgba(134, 105, 0, 0.4);
  min-width: 100%;
  position: relative;
  /* border-top: 1px solid var(--primary); */
  border-top: 1px solid var(--primary);
  margin-bottom: 0;
}

.box::after {
  content: "";
  background-color: rgb(0, 0, 0, 0.05);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.box .item {
  z-index: 5;
  /* background: rgba(65, 53, 0, 0.5); */
  background: var(--primary);
  padding: 7px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0.5);
  color: black;
}

.item span {
  color: white;
}

.profile__update {
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(36, 35, 35, 0.2);
}

@media (max-width: 768px) {
  .box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
