.table__container table {
  width: 100%;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.3);
  background-color: rgb(0, 0, 0, 0.1);
  background: linear-gradient(180deg, rgb(33, 33, 33, 0.2), rgb(0, 0, 0, 0.2));

  /* border-collapse: collapse; */
}

.table__container table img {
  padding-right: 10px;
}
.table__container {
  z-index: 3;
}

.table__container table th {
  background: linear-gradient(180deg, rgb(33, 33, 33, 0.2), rgb(0, 0, 0, 0.2));
  border-collapse: collapse;
}

.table__container table td:nth-child(1) {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: aqua;
  cursor: pointer;
}

.table__container table td:nth-child(1):hover {
  color: white;
}

.table__container table td {
  /* border: 1px solid rgb(75, 120, 55); */
  padding: 7px;
  background: rgb(0, 0, 0, 0.2);
  background: linear-gradient(45deg, rgb(33, 33, 33, 0.2), rgb(0, 0, 0, 0.2));

  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.4);

  /* border-bottom: 3px solid rgb(0, 0, 0, 0.3); */
}

.table__container table th {
  /* border: 1px solid rgb(75, 120, 55); */
  padding: 7px;
}
