.table__container {
  text-align: center;
}

.table__container {
}

.table__wrapper {
  width: 100%;
  overflow: scroll;
  max-height: 60vh;
}

.table__container input {
  background: transparent;
  padding: 7px;
  color: white;
  border: none;
  border: 1px solid var(--primary);
  width: 100%;
}

.table__wrapper {
  border: 1px solid var(--primary);
}

.table__container table {
  border-collapse: collapse;
}
.table__container table td,
.table__container table th {
  border: 1px solid lightgray;
  min-width: 200px;
  padding: 5px;
  border: 1px solid gold;
}

.table__container table th {
  border-top: none;
  padding: 7px;
  background-color: gold;
}

.table__container table td:first-child {
  /* background-color: var(--primary); */
  color: black;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: flex-start;
  gap: 5px;
  border: none;
  border-top: 1px solid gold;
}

.table__container table td:first-child span:hover {
  color: var(--secondary);
  /* color: black; */
}

.table__container table td:first-child span {
  color: black;
  margin-left: 5px;
}

.table__container table td:first-child img {
  border-radius: 50%;
}
